*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:black;
    background-color:lightgray;
}
.introduccion {
    color:black;
    font-size: 18px;
    background-color: lightgray;
}
.ciudad {
    text-decoration: none;
}
.ciudad:hover {
    color:blue;
}